input.readonly {
  background: #ddd;
}

#field, #debugfield {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

div.cell {
  display: flex;
  border: 1px #000 solid;
  width: 30px;
  height: 30px;
  margin-right: -1px;
  margin-bottom: -1px;
  justify-content: center;
  align-items: center;
  background: #aaa;
}

div.cell div {
  font-weight: bold;
}

div.bgopened {
  background: #fff;
}

div.bgmine {
  background: #900;
}

div.bgmarked {
  background: #aaa;
  background-image: url("./marked.png");
  background-repeat: no-repeat;
}

div.cell div.a0 {
  color: #fff;
}

div.cell div.a1 {
  color: #00f;
}

div.cell div.a2 {
  color: #0a0;
}

div.cell div.a3 {
  color: #a00;
}

div.cell div.a4 {
  color: #00a;
}

div.cell div.a5 {
  color: #a41;
}

div.cell div.a6 {
  color: #55c;
}

div.cell div.a7 {
  color: #000;
}

div.cell div.a8 {
  color: #666;
}

div.cell div.amine {
  color: #f00;
}